<h1 class="page-header">Database: {{database?.name}}</h1>

<p>
	<a class="btn btn-primary" [href]="webAppLink" target="_blank">EMU-webApp</a>
</p>

<hr>

<p>
	URL to EMU-webApp: {{webAppLink}}
</p>

<hr>

<div class="panel panel-default">

	<ul class="panel-body nav nav-pills nav-justified">
		<li role="presentation" [ngClass]="{active: state === 'BundleLists'}">
			<a (click)="state = 'BundleLists'">
				Bundle lists <span class="badge">{{database?.bundleLists?.length}}</span>
			</a>
		</li>
		<li role="presentation" [ngClass]="{active: state === 'Sessions'}">
			<a (click)="state = 'Sessions'">
				Sessions <span class="badge">{{database?.sessions?.length}}</span>
			</a>
		</li>
		<li role="presentation" [ngClass]="{active: state === 'Download'}">
			<a (click)="state = 'Download'">
				Download database
			</a>
		</li>
		<li role="presentation" [ngClass]="{active: state === 'Config'}">
			<a (click)="state = 'Config'">
				Database configuration
			</a>
		</li>
		<li role="presentation" [ngClass]="{active: state === 'Rename'}">
			<a (click)="state = 'Rename'">
				Rename database
			</a>
		</li>
	</ul>


	<emudbmanager-bundle-lists-overview *ngIf="state === 'BundleLists'" [database]="database?.name">
	</emudbmanager-bundle-lists-overview>


	<div *ngIf="state === 'Sessions'" class="table-responsive">
		<table class="table table-striped">
			<thead>
			<tr>
				<th>Name</th>
				<th>Bundles</th>
			</tr>
			</thead>

			<tbody>
			<tr *ngFor="let session of database?.sessions">
				<td>{{session.name}}</td>
				<td>{{session.bundles.length}}</td>
			</tr>
			</tbody>
		</table>
	</div>

	<div *ngIf="state === 'Download'" class="panel-body">
		<form method="post" [action]="downloadTarget.url" target="_blank" ngNoForm>
			<input type="hidden" name="query" [value]="downloadTarget.query">
			<input type="hidden" name="user" [value]="downloadTarget.user">
			<input type="hidden" name="password" [value]="downloadTarget.password">
			<input type="hidden" name="database" [value]="this.database?.name">
			<input type="hidden" name="treeish" value="HEAD">

			<button class="btn btn-primary">
				Download current version
			</button>
		</form>

		<hr>

		<p>
			Every change to a database is recorded (using the software git).
		</p>
		<p>
			It is possible to create and download a ZIP file containing the database’s state at any
			point in time (i.e. any git commit).
		</p>
		<p>
			It is also possible to tag certain points in time such that they are easier to find
			(i.e. add a git tag).
		</p>

		<hr>

		<h3 class="sub-header">
			Tagged versions <span class="badge">{{countTags()}}</span>
		</h3>

		<p *ngIf="countTags() === 0">
			<em>No tagged versions so far. You can search a version and tag it below (in the all
				versions section).</em>
		</p>

		<ul>
			<li *ngFor="let tag of tagList">
				<form method="post" [action]="downloadTarget.url" target="_blank" ngNoForm>
					<input type="hidden" name="query" [value]="downloadTarget.query">
					<input type="hidden" name="user" [value]="downloadTarget.user">
					<input type="hidden" name="password" [value]="downloadTarget.password">
					<input type="hidden" name="database" [value]="this.database?.name">
					<input type="hidden" name="treeish" [value]="tag">

					<button class="btn btn-primary btn-xs">
						Download
					</button>
				</form>

				{{tag}}
			</li>
		</ul>

		<h3 class="sub-header">
			All versions <span class="badge">{{countCommits()}}</span>
		</h3>

		<ul>
			<li *ngFor="let month of commitList">
				<a (click)="month.open = !month.open">
					<span [ngClass]="{
						'glyphicon': true,
						'glyphicon-collapse-down': !month.open,
						'glyphicon-collapse-up': month.open
					}"></span>

					{{month.month}}
				</a>

				<ul *ngIf="month.open">
					<li *ngFor="let day of month.days">
						<a (click)="day.open = !day.open">
							<span [ngClass]="{
								'glyphicon': true,
								'glyphicon-collapse-down': !day.open,
								'glyphicon-collapse-up': day.open
							}"></span>

							{{day.day}}
						</a>

						<ul *ngIf="day.open">
							<li *ngFor="let commit of day.commits">
								<hr *ngIf="commit.editingTag || commit.saveTagSuccess">

								<form method="post" [action]="downloadTarget.url" target="_blank"
								      ngNoForm>
									<input type="hidden" name="query"
									       [value]="downloadTarget.query">
									<input type="hidden" name="user" [value]="downloadTarget.user">
									<input type="hidden" name="password"
									       [value]="downloadTarget.password">
									<input type="hidden" name="database"
									       [value]="this.database?.name">
									<input type="hidden" name="treeish" [value]="commit.commitID">

									<button class="btn btn-primary btn-xs">
										Download
									</button>
								</form>

								<button class="btn btn-primary btn-xs" (click)="editTag(commit)"
								        [ngClass]="{active: commit.editingTag}">
									Add tag
								</button>

								{{commit.dateTime}}: {{commit.message}}

								<form *ngIf="commit.editingTag" class="form-inline"
								      (ngSubmit)="saveTag(commit)">
									<input class="form-control" placeholder="Tag label"
									       [(ngModel)]="commit.tagLabel" name="tagLabel">
									<button type="submit" class="btn btn-xs btn-primary"
									        [ngClass]="{disabled: commit.tagLabel===''}">
										Save tag
									</button>
								</form>

								<p *ngIf="commit.saveTagError" class="alert alert-danger">
									<button type="button" class="close" aria-label="Close"
									        (click)="commit.saveTagError = ''">
										<span aria-hidden="true">&times;</span>
									</button>

									{{commit.saveTagError}}
								</p>

								<p *ngIf="commit.saveTagSuccess" class="alert alert-success">
									<button type="button" class="close" aria-label="Close"
									        (click)="commit.saveTagSuccess = ''">
										<span aria-hidden="true">&times;</span>
									</button>

									{{commit.saveTagSuccess}}
								</p>

								<hr *ngIf="commit.editingTag || commit.saveTagSuccess">
							</li>
						</ul>
					</li>
				</ul>
			</li>
		</ul>
	</div>

	<div *ngIf="state === 'Config'" class="panel-body">
		<p>
			Emu databases are configured by means of the _DBconfig.json file.
		</p>

		<p>
			The emuDB Manager is only meant to manage a small portion of the numerous possible
			configuration options. All other options must be configured via emuR.
		</p>

		<hr>

		<div class="checkbox">
			<label>
				<input type="checkbox" [(ngModel)]="configComments">
				In EMU-webApp, show “bundle comment” fields
			</label>
		</div>

		<div class="checkbox">
			<label>
				<input type="checkbox" [(ngModel)]="configFinishedEditing">
				In EMU-webApp, show “finished editing” checkboxes
			</label>
		</div>

		<p *ngIf="saveConfigSuccess" class="alert alert-success">
			<button type="button" class="close" aria-label="Close" (click)="saveConfigSuccess = ''">
				<span aria-hidden="true">&times;</span>
			</button>

			{{saveConfigSuccess}}
		</p>

		<p *ngIf="saveConfigError" class="alert alert-danger">
			<button type="button" class="close" aria-label="Close" (click)="saveConfigError = ''">
				<span aria-hidden="true">&times;</span>
			</button>

			{{saveConfigError}}
		</p>


		<p>
			<button class="btn btn-default" (click)="saveConfiguration()">Save</button>
		</p>

		<p class="alert alert-warning" *ngIf="hasUnsavedChanges()">
			You have unsaved changes.
		</p>
	</div>

	<div *ngIf="state === 'Rename'" class="panel-body">
		<form (ngSubmit)="renameDatabase()">
			<p>
				Current name of the database: {{database?.name}}
			</p>

			<p>
				<input class="form-control" placeholder="New name" [(ngModel)]="newName"
				       name="newName" autocomplete="off">
			</p>

			<p *ngIf="renameSuccess" class="alert alert-success">
				<button type="button" class="close" aria-label="Close" (click)="renameSuccess = ''">
					<span aria-hidden="true">&times;</span>
				</button>

				{{renameSuccess}}
			</p>

			<p *ngIf="renameError" class="alert alert-danger">
				<button type="button" class="close" aria-label="Close" (click)="renameError = ''">
					<span aria-hidden="true">&times;</span>
				</button>

				{{renameError}}
			</p>

			<p>
				<button type="submit" class="btn btn-default">Rename</button>
			</p>
		</form>
	</div>

</div>
