<h1 class="page-header">Uploads</h1>

<div class="panel panel-default">
	<ul class="panel-body nav nav-pills nav-justified">
		<li role="presentation" [ngClass]="{active: state === 'Overview'}">
			<a (click)="state = 'Overview'">
				Uploaded databases <span class="badge">{{uploads?.length}}</span>
			</a>
		</li>
		<li role="presentation" [ngClass]="{active: state === 'New'}">
			<a (click)="state = 'New'">
				Upload new file
			</a>
		</li>
	</ul>

	<emudbmanager-uploads-overview *ngIf="state === 'Overview'">
	</emudbmanager-uploads-overview>

	<emudbmanager-upload-form *ngIf="state === 'New'" class="panel-body">
	</emudbmanager-upload-form>
</div>
