<div class="panel-body">
	<h2 class="sub-header">Instructions</h2>

	<ul>
		<li>
			You can either upload speech databases here or new data to add them to an existing
			database.
		</li>

		<li>
			If you have a complete EMU speech database, simply “zip it up” and upload the zip file
			here.
			<ul>
				<li>You’re done :-)</li>
			</ul>
		</li>

		<li>
			If you have new sessions that you want to add to an EMU speech database you have already
			uploaded here, you have to make sure the new data and the old data fit together.

			<ul>
				<li>
					Your new data will most likely be an EMU speech database already, that is, you
					have a number of folders called *_ses along with a file called &lt;databasename&gt;_DBconfig.json
					in a folder called &lt;databasename&gt;_emuDB. It does not matter whether the
					old and the new speech database have the same name.
				</li>

				<li>
					It is important, however, that the <em>annotation structure is the same</em>.
					The bundles in both old and new data must contain the same levels and the same types of links.
				</li>
			</ul>
		</li>
	</ul>
</div>


<div>
	<label for="file-pb" class="ui small black button right icon upload-button">
		<i class="ion-document icon"></i>
		Choose file
	</label>
	<input type="file"
	       id="file-pb"
	       style="display:none;"
	       [ng-file-select]="options"
	       (onUpload)="handleUpload($event)">
</div>

<div *ngIf="uploadFile">
	Progress: {{ uploadProgress }}%
</div>
<div *ngIf="uploadFile">
	<div class="ui indicating olive progress">
		<div class="bar" [style.width]="uploadProgress + '%'"></div>
		<div class="label">Uploading file ({{ uploadProgress }}%)</div>
	</div>
</div>

<div>
	Response: <br/>{{ uploadFile | json }}
</div>
