<div class="panel-body">
	<div class="alert alert-info">
		<p>
			<strong>Upload a zip file here.</strong>
		</p>

		<hr>

		<p>
			<strong>Make sure that the zip file</strong>
			has a name like <em>greatSpeechDatabase</em>_emuDB.zip.
		</p>

		<hr>

		<p>
			<strong>Make sure that the zip file</strong>
			contains a valid EMU speech database: a directory called
			<em>greatSpeechDatabase</em>_emuDB, which in turn contains
			<em>greatSpeechDatabase</em>_DBconfig.json and a number of
			session directories.
		</p>

		<hr>

		<p>
			<strong>If you plan to do a fast-forward</strong>
			with the upload, make sure to <em>git commit</em> all your
			modifications before creating the zip file.
		</p>

		<hr>

		<p>
			<strong>If you plan to merge two databases,</strong>
			make sure the configuration files of the two databases are compatible
			(<em>linkDefinitions</em>, <em>levelDefinitons</em>, <em>ssffTrackDefinitions</em>,
			and <em>mediaFileExtension</em> must be the same).
		</p>
	</div>

	<div>
		<label for="file-pb">
			<span class="glyphicon glyphicon-upload"></span>
			Select a file to upload
		</label>
		<input type="file" id="file-pb" ngFileSelect [options]="options"
		       (onUpload)="handleProgress($event)">
	</div>

	<div>
		<div class="progress">
			<div class="progress-bar progress-bar-striped" role="progressbar"
			     [attr.aria-valuenow]="uploadProgress" aria-valuemin="0" aria-valuemax="100"
			     [style.width]="uploadProgress + '%'">
				{{uploadProgress}} %
			</div>
		</div>

		<p *ngIf="transferMessage" class="alert alert-success">
			<button type="button" class="close" aria-label="Close" (click)="transferMessage = ''">
				<span aria-hidden="true">&times;</span>
			</button>

			{{transferMessage}}
		</p>

		<p *ngIf="successMessage" class="alert alert-success">
			<button type="button" class="close" aria-label="Close" (click)="successMessage = ''">
				<span aria-hidden="true">&times;</span>
			</button>

			{{successMessage}}
		</p>

		<p *ngIf="errorMessage" class="alert alert-danger">
			<button type="button" class="close" aria-label="Close" (click)="errorMessage = ''">
				<span aria-hidden="true">&times;</span>
			</button>

			{{errorMessage}}
		</p>
	</div>
</div>

