<h1 class="page-header">Uploaded database: {{upload?.name}}</h1>

<p>
	UUID (Universally Unique Identifier): {{upload?.uuid}}
</p>
<p>
	Upload date: {{upload?.date}}
</p>
<p>
	Name: {{upload?.name}}
</p>
<p>
	Size:

	{{upload?.sessions?.length}}
	session<span *ngIf="upload?.sessions?.length !== 1">s</span>,

	{{countBundles()}}
	bundle<span *ngIf="countBundles() !== 1">s</span>
</p>

<hr>

<div class="panel panel-default">

	<ul class="panel-body nav nav-pills nav-justified">
		<li role="presentation" [ngClass]="{active: state === 'Save'}">
			<a (click)="state = 'Save'">
				Save
			</a>
		</li>
		<li role="presentation" [ngClass]="{active: state === 'Sessions'}">
			<a (click)="state = 'Sessions'">
				Sessions <span class="badge">{{upload?.sessions?.length}}</span>
			</a>
		</li>
		<li role="presentation" [ngClass]="{active: state === 'Delete'}">
			<a (click)="state = 'Delete'">
				Delete
			</a>
		</li>
	</ul>

	<div *ngIf="state === 'Save'" class="panel-body">
		<div class="alert alert-info">
			<p>
				<strong>Choose one out of three.</strong>
				To work with the uploaded database, you can either save it as a
				new database, or fast-forward an existing database to the
				state of the uploaded one, or merge the uploaded database with
				an existing one.
			</p>

			<hr>

			<p>
				<strong>Fast-forwarding is helpful</strong>
				when you have downloaded a database, made some modification
				to it (be it a configuration change or newly added data) and
				then re-uploaded the whole thing. Fast-forwarding is a term
				introduced by git.
			</p>

			<hr>

			<p>
				<strong>For fast-forwarding to work,</strong>
				you must make <em>git commits</em> before uploading. The
				server can only store committed modifications.
			</p>

			<hr>

			<p>
				<strong>Merging only works</strong>
				if the configuration files of the two databases are compatible
				(<em>linkDefinitions</em>, <em>levelDefinitons</em>, <em>ssffTrackDefinitions</em>,
				and <em>mediaFileExtension</em> must be the same).
			</p>
		</div>

		<hr>

		<h3 class="sub-header">
			Save as a new database
		</h3>

		<div>
			<form (ngSubmit)="saveUpload()">
				<div *ngIf="duplicateName">
					<p>
						The project already has a database named <strong>{{upload?.name}}</strong>.
						If you want to save this upload as a database of its own, you have to
						rename it first.
					</p>


					<p>
						<input class="form-control" placeholder="New name"
						       [(ngModel)]="saveForm.newName" name="saveNewName">
					</p>

					<p>
						<button type="submit" class="btn btn-default"
						        [disabled]="saveForm.newName == ''">
							Save uploaded data as a database named

							<strong *ngIf="saveForm.newName">{{saveForm.newName}}</strong>
							<em *ngIf="!saveForm.newName">[choose a name first]</em>
						</button>
					</p>
				</div>

				<div *ngIf="!duplicateName">
					<button type="submit" class="btn btn-default">
						Save <strong>{{upload?.name}}</strong> as a new database
					</button>
				</div>

				<p *ngIf="saveForm.messageSuccess" class="alert alert-success">
					<button type="button" class="close" aria-label="Close"
					        (click)="saveForm.messageSuccess = ''">
						<span aria-hidden="true">&times;</span>
					</button>

					{{saveForm.messageSuccess}}
				</p>

				<p *ngIf="saveForm.messageError" class="alert alert-danger">
					<button type="button" class="close" aria-label="Close"
					        (click)="saveForm.messageError = ''">
						<span aria-hidden="true">&times;</span>
					</button>

					{{saveForm.messageError}}
				</p>
			</form>
		</div>

		<hr>

		<h3 class="sub-header">
			Fast-forward existing database
		</h3>

		<div>
			<form (ngSubmit)="fastForward()">
				<div *ngIf="duplicateName">
					<p>
						The project already has a database named <strong>{{upload?.name}}</strong>.
						You can fast-forward the project’s database to the
						state of the one you have uploaded.
					</p>

					<p>
						<button type="submit" class="btn btn-default">
							Fast-forward database
							<strong>{{upload?.name}}</strong>
						</button>
					</p>
				</div>

				<div *ngIf="!duplicateName">
					The project does not yet have a database named <strong>{{upload?.name}}</strong>.
					You can only fast-forward an existing database that has
					the same name as the one you have uploaded.
				</div>

				<p *ngIf="fastForwardForm.messageSuccess"
				   class="alert alert-success">
					<button type="button" class="close" aria-label="Close"
					        (click)="fastForwardForm.messageSuccess = ''">
						<span aria-hidden="true">&times;</span>
					</button>

					{{fastForwardForm.messageSuccess}}
				</p>

				<p *ngIf="fastForwardForm.messageError" class="alert alert-danger">
					<button type="button" class="close" aria-label="Close"
					        (click)="fastForwardForm.messageError = ''">
						<span aria-hidden="true">&times;</span>
					</button>

					{{fastForwardForm.messageError}}
				</p>
			</form>
		</div>

		<hr>

		<h3 class="sub-header">
			Merge with existing database
		</h3>

		<div>
			<form (ngSubmit)="mergeUpload()">
				<p>
					Select a database to merge the upload with.
				</p>
				<p>
					<select class="form-control"
					        [(ngModel)]="mergeForm.selectedDatabase"
					        [ngModelOptions]="{standalone: true}">
						<option *ngFor="let database of databaseList"
						        [ngValue]="database">
							{{database.name}}
						</option>
					</select>
				</p>
				<p>
					<button class="btn btn-default" [disabled]="!mergeForm.selectedDatabase">
						Merge <strong>{{upload?.name}}</strong> with database

						<strong *ngIf="mergeForm.selectedDatabase">{{mergeForm.selectedDatabase?.name}}</strong>
						<em *ngIf="!mergeForm.selectedDatabase">[choose one]</em>
					</button>
				</p>
				<p *ngIf="mergeForm.messageSuccess"
				   class="alert alert-success">
					<button type="button" class="close" aria-label="Close"
					        (click)="mergeForm.messageSuccess = ''">
						<span aria-hidden="true">&times;</span>
					</button>

					{{mergeForm.messageSuccess}}
				</p>

				<p *ngIf="mergeForm.messageError" class="alert alert-danger">
					<button type="button" class="close" aria-label="Close"
					        (click)="mergeForm.messageError = ''">
						<span aria-hidden="true">&times;</span>
					</button>

					{{mergeForm.messageError}}
				</p>
			</form>
		</div>
	</div>

	<div *ngIf="state === 'Sessions'" class="table-responsive">
		<emudbmanager-table class="table table-striped"
		                    [columns]="tableFormat" [data]="upload?.sessions">
		</emudbmanager-table>
	</div>

	<div *ngIf="state === 'Delete'" class="panel-body">
		<div class="checkbox">
			<label>
				<input type="checkbox" [(ngModel)]="reallyDelete">
				Delete this upload? This is irreversible!
			</label>
		</div>

		<hr>

		<p *ngIf="deleteError" class="alert alert-danger">
			<button type="button" class="close" aria-label="Close" (click)="deleteError = ''">
				<span aria-hidden="true">&times;</span>
			</button>

			{{deleteError}}
		</p>

		<p>
			<button type="button" class="btn btn-danger" [disabled]="!reallyDelete"
			        (click)="deleteUpload()">
				Delete
			</button>
		</p>
	</div>

</div>
