<h1 class="page-header">Uploaded database: {{upload?.name}}</h1>

<p>
	UUID (Universally Unique Identifier): {{upload?.uuid}}
</p>
<p>
	Upload date: {{upload?.date}}
</p>

<hr>

<div class="panel panel-default">

	<ul class="panel-body nav nav-pills nav-justified">
		<li role="presentation" [ngClass]="{active: state === 'Sessions'}">
			<a (click)="state = 'Sessions'">
				Sessions <span class="badge">{{upload?.sessions?.length}}</span>
			</a>
		</li>
		<li role="presentation" [ngClass]="{active: state === 'Save'}">
			<a (click)="state = 'Save'">
				Save
			</a>
		</li>
		<li role="presentation" [ngClass]="{active: state === 'Delete'}">
			<a (click)="state = 'Delete'">
				Delete
			</a>
		</li>
	</ul>

	<div *ngIf="state === 'Sessions'" class="table-responsive">
		<emudbmanager-table class="table table-striped"
		                    [columns]="tableFormat" [data]="upload?.sessions">
		</emudbmanager-table>
	</div>

	<div *ngIf="state === 'Save'" class="panel-body">
		<p>
			This upload contains an EMU speech database with
			<strong>{{upload?.sessions?.length}}</strong>
			<template [ngIf]="upload?.sessions?.length != 1">sessions</template>
			<template [ngIf]="upload?.sessions?.length == 1">session</template>
			that is named <strong>{{upload?.name}}</strong>.
		</p>

		<p>
			It can either be saved as a database of its own, or merged with an existing database.
		</p>

		<hr>

		<div [ngSwitch]="mergeForm.duplicateName">
			<form (ngSubmit)="saveUpload()">
				<div *ngSwitchCase="true">
					<p>
						The project already has a database named <strong>{{upload?.name}}</strong>.
						If you want to save this upload as a database of its own, you have to
						rename it first.
					</p>


					<p>
						<input class="form-control" placeholder="New name"
						       [(ngModel)]="mergeForm.newName" name="mergeNewName">
					</p>

					<p>
						<button type="submit" class="btn btn-default"
						        [disabled]="mergeForm.newName == ''">
							Save <strong>{{upload?.name}}</strong> as a database named

							<strong *ngIf="mergeForm.newName">{{mergeForm.newName}}</strong>
							<em *ngIf="!mergeForm.newName">[choose a name first]</em>
						</button>
					</p>
				</div>

				<div *ngSwitchCase="false">
					<button type="submit" class="btn btn-default">
						Save <strong>{{upload?.name}}</strong> as a database of its own
					</button>
				</div>

				<p *ngIf="mergeForm.messageSuccess" class="alert alert-success">
					<button type="button" class="close" aria-label="Close"
					        (click)="mergeForm.messageSuccess = ''">
						<span aria-hidden="true">&times;</span>
					</button>

					{{mergeForm.messageSuccess}}
				</p>

				<p *ngIf="mergeForm.messageError" class="alert alert-danger">
					<button type="button" class="close" aria-label="Close"
					        (click)="mergeForm.messageError = ''">
						<span aria-hidden="true">&times;</span>
					</button>

					{{mergeForm.messageError}}
				</p>
			</form>
		</div>

		<hr>

		<p>
			If you would rather merge <strong>{{upload?.name}}</strong> with an existing
			database, pick one. It will then be checked whether the two can be merged.
		</p>

		<div class="dropdown">
			<button class="btn btn-default dropdown-toggle" type="button" id="dropdownMerge"
			        data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
				Merge <strong>{{upload?.name}}</strong> with database
				<span class="caret"></span>
			</button>
			<ul class="dropdown-menu" aria-labelledby="dropdownMerge">
				<li *ngIf="databaseList.length === 0">
					<a><em>No database available</em></a>
				</li>
				<li *ngFor="let database of databaseList"><a>{{database.name}}</a></li>
			</ul>
		</div>

		<p class="alert alert-danger">
			Warning: The merge feature has not yet been implemented.
		</p>
	</div>

	<div *ngIf="state === 'Delete'" class="panel-body">
		<div class="checkbox">
			<label>
				<input type="checkbox" [(ngModel)]="reallyDelete">
				Delete this upload? This is irreversible!
			</label>
		</div>

		<hr>

		<p *ngIf="deleteError" class="alert alert-danger">
			<button type="button" class="close" aria-label="Close" (click)="deleteError = ''">
				<span aria-hidden="true">&times;</span>
			</button>

			{{deleteError}}
		</p>

		<p>
			<button type="button" class="btn btn-danger" [disabled]="!reallyDelete"
			        (click)="deleteUpload()">
				Delete
			</button>
		</p>
	</div>

</div>
