<h1 class="page-header">Uploaded database</h1>

<p>
	UUID (Universally Unique Identifier): {{upload?.uuid}}
</p>
<p>
	Upload date: {{upload?.date}}
</p>

<hr>

<div class="panel panel-default">

	<ul class="panel-body nav nav-pills nav-justified">
		<li role="presentation" [ngClass]="{active: state === 'Sessions'}">
			<a (click)="state = 'Sessions'">
				Sessions <span class="badge">{{upload?.sessions?.length}}</span>
			</a>
		</li>
		<li role="presentation" [ngClass]="{active: state === 'Rename'}">
			<a (click)="state = 'Rename'">
				Rename
			</a>
		</li>
		<li role="presentation" [ngClass]="{active: state === 'Merge'}">
			<a (click)="state = 'Merge'">
				Merge
			</a>
		</li>
		<li role="presentation" [ngClass]="{active: state === 'Delete'}">
			<a (click)="state = 'Delete'">
				Delete
			</a>
		</li>
	</ul>

	<div *ngIf="state === 'Sessions'" class="table-responsive">
		<table class="table table-striped">
			<thead>
			<tr>
				<th>Name</th>
				<th>Bundles</th>
			</tr>
			</thead>

			<tbody>
			<tr *ngFor="let session of upload?.sessions">
				<td>{{session.name}}</td>
				<td>{{session.bundles.length}}</td>
			</tr>
			</tbody>
		</table>
	</div>

	<div *ngIf="state === 'Rename'" class="panel-body">
		<form>
			<p>
				Current name of the uploaded database: {{upload?.name}}
			</p>

			<p>
				<input class="form-control" placeholder="New name" autocomplete="off">
			</p>

			<p>
				<button type="submit" class="btn btn-default">Rename</button>
			</p>
		</form>
	</div>

	<div *ngIf="state === 'Merge'" class="panel-body">
		Merge into existing or save as new database
	</div>

	<div *ngIf="state === 'Delete'" class="panel-body">
		<div class="checkbox">
			<label>
				<input type="checkbox" [(ngModel)]="reallyDelete">
				Delete this upload? This is irreversible!
			</label>
		</div>

		<hr>

		<p *ngIf="deleteError" class="alert alert-danger">
			<button type="button" class="close" aria-label="Close" (click)="deleteError = ''">
				<span aria-hidden="true">&times;</span>
			</button>

			{{deleteError}}
		</p>

		<p>
			<button type="button" class="btn btn-danger" [disabled]="!reallyDelete"
			        (click)="deleteUpload()">
				Delete
			</button>
		</p>
	</div>

</div>
