<h1 class="page-header">Project overview</h1>

<p>
  Project name:
  {{projectName}}
</p>

<h2 class="sub-header">Databases <span class="badge">{{databases.length}}</span></h2>
<emudbmanager-databases-overview></emudbmanager-databases-overview>

<h2 class="sub-header">Bundle lists <span class="badge">{{bundleLists.length}}</span></h2>
<emudbmanager-bundle-lists-overview></emudbmanager-bundle-lists-overview>

<h2 class="sub-header">Uploads <span class="badge">2</span></h2>
<emudbmanager-uploads-overview></emudbmanager-uploads-overview>

