<h1 class="page-header">Individual bundle list</h1>

<div class="panel panel-default">

	<ul class="panel-body nav nav-pills nav-justified">
		<li role="presentation" [ngClass]="{active: state === 'Info'}">
			<a (click)="state = 'Info'">
				Info
			</a>
		</li>
		<li role="presentation" [ngClass]="{active: state === 'CommentedBundles'}">
			<a (click)="state = 'CommentedBundles'">
				Commented bundles <span class="badge">{{commentedBundles?.length}}</span>
			</a>
		</li>
		<li role="presentation" [ngClass]="{active: state === 'AllBundles'}">
			<a (click)="state = 'AllBundles'">
				All bundles <span class="badge">{{allBundles?.length}}</span>
			</a>
		</li>
	</ul>

	<div *ngIf="state === 'Info'">
		<form (ngSubmit)="saveEditedInfo()">
			<div class="table-responsive">
				<table class="table table-striped">
					<tbody>
					<tr>
						<td>Database</td>
						<td><a [routerLink]="['/project/databases', database]">{{database}}</a></td>
					</tr>
					<tr>
						<td>Editor</td>
						<td>
							<span *ngIf="!infoEditor.isEditing">{{bundleList?.name}}</span>
							<input *ngIf="infoEditor.isEditing" class="form-control"
							       placeholder="New name"
							       [(ngModel)]="infoEditor.newName"
							       name="newName">
						</td>
					</tr>
					<tr>
						<td>Archive label</td>
						<td>
							<span *ngIf="!infoEditor.isEditing">{{bundleList?.archiveLabel}}</span>
							<input *ngIf="infoEditor.isEditing" class="form-control"
							       placeholder="New archive label"
							       [(ngModel)]="infoEditor.newArchiveLabel"
							       name="newArchiveLabel">
						</td>
					</tr>
					</tbody>
				</table>
			</div>

			<div class="panel-body">
				<p>
					<button type="button" class="btn btn-default" (click)="toggleEditInfo()"
					        [ngClass]="{active: infoEditor.isEditing}"
					        [disabled]="!bundleList"
					>
						Edit
					</button>

					<button *ngIf="infoEditor.isEditing" type="submit"
					        class="btn btn-success pull-right">
						Save
					</button>
				</p>

				<p *ngIf="infoEditor.messageSuccess" class="alert alert-success">
					<button type="button" class="close" aria-label="Close"
					        (click)="infoEditor.messageSuccess = ''">
						<span aria-hidden="true">&times;</span>
					</button>

					{{infoEditor.messageSuccess}}
				</p>

				<p *ngIf="infoEditor.messageError" class="alert alert-danger">
					<button type="button" class="close" aria-label="Close"
					        (click)="infoEditor.messageError = ''">
						<span aria-hidden="true">&times;</span>
					</button>

					{{infoEditor.messageError}}
				</p>
			</div>
		</form>

		<hr>

		<div class="panel-body">
			<p>
				Bundle lists can be duplicated. The copy will be assigned to a different editor but
				it will share the same comments. All “finished editing” ticks will be reset.
			</p>

			<p>
				This is useful to review the comments in the EMU-webApp, along with the signal and
				annotation data.
			</p>

			<form (ngSubmit)="duplicateBundleList()">
				<p>
					<input class="form-control" placeholder="Choose editor for duplicate"
					       [(ngModel)]="duplicationEditor.editorName" name="editorName">
				</p>

				<div class="checkbox">
					<label>
						<input type="checkbox" [(ngModel)]="duplicationEditor.commentedOnly"
						       name="commentedOnly">
						Only duplicate commented bundles
					</label>
				</div>

				<p *ngIf="duplicationEditor.messageError" class="alert alert-danger">
					<button type="button" class="close" aria-label="Close"
					        (click)="duplicationEditor.messageError = ''">
						<span aria-hidden="true">&times;</span>
					</button>

					{{duplicationEditor.messageError}}
				</p>

				<p *ngIf="duplicationEditor.messageSuccess" class="alert alert-success">
					<button type="button" class="close" aria-label="Close"
					        (click)="duplicationEditor.messageSuccess = ''">
						<span aria-hidden="true">&times;</span>
					</button>

					{{duplicationEditor.messageSuccess}}
				</p>


				<p>
					<button class="btn btn-primary" [disabled]="!duplicationEditor.editorName">
						Duplicate
					</button>
				</p>
			</form>
		</div>

		<hr>

		<div class="panel-body">
			<div class="checkbox">
				<label>
					<input type="checkbox" [(ngModel)]="reallyDelete">
					Delete this bundle list? This is irreversible!
				</label>
			</div>

			<p *ngIf="deleteError" class="alert alert-danger">
				<button type="button" class="close" aria-label="Close" (click)="deleteError = ''">
					<span aria-hidden="true">&times;</span>
				</button>

				{{deleteError}}
			</p>

			<p>
				<button type="button" class="btn btn-danger" [disabled]="!reallyDelete"
				        (click)="deleteBundleList()">
					Delete
				</button>
			</p>

		</div>
	</div>

	<div *ngIf="state === 'CommentedBundles'" class="table-responsive">
		<emudbmanager-table class="table table-striped"
		                    [columns]="tableFormat" [data]="commentedBundles">
		</emudbmanager-table>
	</div>

	<div *ngIf="state === 'AllBundles'" class="table-responsive">
		<emudbmanager-table class="table table-striped"
		                    [columns]="tableFormat" [data]="allBundles">
		</emudbmanager-table>
	</div>
</div>
