<h1 class="page-header">Individual bundle list</h1>

<div class="panel panel-default">

	<ul class="panel-body nav nav-pills nav-justified">
		<li role="presentation" [ngClass]="{active: state === 'Info'}">
			<a (click)="state = 'Info'">
				Info
			</a>
		</li>
		<li role="presentation" [ngClass]="{active: state === 'CommentedBundles'}">
			<a (click)="state = 'CommentedBundles'">
				Commented bundles <span class="badge">{{commentedBundles?.length}}</span>
			</a>
		</li>
		<li role="presentation" [ngClass]="{active: state === 'AllBundles'}">
			<a (click)="state = 'AllBundles'">
				All bundles <span class="badge">{{allBundles?.length}}</span>
			</a>
		</li>
	</ul>

	<div *ngIf="state === 'Info'" class="table-responsive">
		<table class="table table-striped">
			<tbody>
			<tr>
				<td>Database</td>
				<td>{{params['database']}}</td>
			</tr>
			<tr>
				<td>Editor</td>
				<td>{{params['name']}}</td>
			</tr>
			<tr>
				<td>Status</td>
				<td>{{params['status']}}</td>
			</tr>
			</tbody>
		</table>
	</div>


	<div *ngIf="state === 'CommentedBundles'" class="table-responsive">
		<table class="table table-striped">
			<thead>
			<tr>
				<th>Session</th>
				<th>Bundle</th>
				<th>Finished editing</th>
				<th>Comment</th>
			</tr>
			</thead>

			<tbody>
			<tr *ngFor="let item of commentedBundles">
				<td>{{item.session}}</td>
				<td>{{item.name}}</td>
				<td>
					<span *ngIf="item.finishedEditing" class="glyphicon glyphicon-ok"></span>
					<span *ngIf="!item.finishedEditing"
					      class="glyphicon glyphicon-remove"></span>
				</td>
				<td>{{item.comment}}</td>
			</tr>
			</tbody>
		</table>
	</div>

	<div *ngIf="state === 'AllBundles'" class="table-responsive">
		<table class="table table-striped">
			<thead>
			<tr>
				<th>Session</th>
				<th>Bundle</th>
				<th>Finished editing</th>
				<th>Comment</th>
			</tr>
			</thead>

			<tbody>
			<tr *ngFor="let item of allBundles">
				<td>{{item.session}}</td>
				<td>{{item.name}}</td>
				<td>
					<span *ngIf="item.finishedEditing" class="glyphicon glyphicon-ok"></span>
					<span *ngIf="!item.finishedEditing"
					      class="glyphicon glyphicon-remove"></span>
				</td>
				<td>{{item.comment}}</td>
			</tr>
			</tbody>
		</table>
	</div>

</div>
