<h1 class="page-header">Database: {{database?.name}}</h1>

<p>
	<a class="btn btn-primary" [href]="webAppLink" target="_blank">EMU-webApp</a>
</p>

<hr>

<div class="panel panel-default">

	<ul class="panel-body nav nav-pills nav-justified">
		<li role="presentation" [ngClass]="{active: state === 'BundleLists'}">
			<a (click)="state = 'BundleLists'">
				Bundle lists <span class="badge">{{database?.bundleLists?.length}}</span>
			</a>
		</li>
		<li role="presentation" [ngClass]="{active: state === 'Sessions'}">
			<a (click)="state = 'Sessions'">
				Sessions <span class="badge">{{database?.sessions?.length}}</span>
			</a>
		</li>
		<li role="presentation" [ngClass]="{active: state === 'Download'}">
			<a (click)="state = 'Download'">
				Download + Version history
			</a>
		</li>
		<li role="presentation" [ngClass]="{active: state === 'Config'}">
			<a (click)="state = 'Config'">
				Database configuration
			</a>
		</li>
		<li role="presentation" [ngClass]="{active: state === 'Rename'}">
			<a (click)="state = 'Rename'">
				Rename database
			</a>
		</li>
	</ul>


	<emudbmanager-bundle-lists-overview *ngIf="state === 'BundleLists'" [database]="database?.name">
	</emudbmanager-bundle-lists-overview>


	<div *ngIf="state === 'Sessions'" class="table-responsive">
		<emudbmanager-table class="table table-striped"
		                    [columns]="tableFormat" [data]="database?.sessions">
		</emudbmanager-table>
	</div>

	<div *ngIf="state === 'Download'" class="panel-body">
		<div class="alert alert-info">
			<p>
				<strong>
					While your team is editing the database, every change is recorded (using git).
				</strong>
				This lets you go back to any previous version of your database. E.g., whenever you
				delete or create a bundle list (in emuDB Manager), or when somebody changes the
				annotation of a bundle (in EMU-webApp), the current state of the database is
				recorded. This is called a <em>git commit</em>.
			</p>

			<hr>

			<p>
				<strong>
					Downloading the database is a two-step process.
				</strong>
				First, pick a version and prepare it for download. Second (a few minutes later), you
				can grab the zip file.
			</p>

			<hr>

			<p>
				<strong>
					Tags can be used to mark important versions of your database.
				</strong>
				In the “all versions” view, you can select a version and “stick a tag to it”.
				This way, you and your colleagues can easily find the version later. Technically,
				this adds a <em>git tag</em> to your database.
			</p>
		</div>

		<hr>

		<h3 class="sub-header">
			Versions prepared for download <span class="badge">{{countDownloads()}}</span>
		</h3>

		<div class="table-responsive">
			<table class="table table-striped">
				<thead>
				<tr>
					<th>Version</th>
					<th>Date prepared for download</th>
					<th>Size (hover for exact size)</th>
					<th>Actions</th>
				</tr>
				</thead>

				<tbody>
				<tr *ngIf="createArchiveCurrent">
					<td colspan="3">
						<p class="alert alert-success">
							<strong>
								Another version is currently being prepared for download.
							</strong>
							Refresh this page in a few minutes to see if the download is already
							available.<br>

							<strong>Whether this green hint stays or disappears</strong> does not
							indicate that the preparation process has finished. It may or may not
							coincide.<br>

							<strong>Note also</strong> that in case the preparation process
							actually fails, you cannot, at this time, be notified of it
							automatically. Check with the system administrator if the preparation
							seems to take too long (but 10 or 15 minutes are not unusual).
						</p>
					</td>
				</tr>
				<tr *ngFor="let download of downloadList">
					<td>
						{{download.treeish}}
					</td>
					<td>{{download.date}}</td>
					<td [title]="download.size + ' B'">{{displaySize(download.size)}}</td>
					<td>
						<form method="post" [action]="downloadTarget(download.treeish).url"
						      target="_blank" ngNoForm>
							<input
									*ngFor="let option of downloadOptions(download.treeish)"
									type="hidden"
									name="{{option}}"
									value="{{downloadTarget(download.treeish).options[option]}}"
							>

							<button class="btn btn-primary">
								Download
							</button>
						</form>
					</td>
				</tr>
				</tbody>
			</table>
		</div>

		<p *ngIf="countDownloads() == 0">
			<em>No version of this database has been prepared for download so far.</em>
		</p>

		<button class="btn btn-primary btn-sm" (click)="createArchive('HEAD')"
		        [disabled]="createArchiveCurrent">
			<span *ngIf="createArchiveCurrent === 'HEAD'">Preparing</span>
			<span *ngIf="createArchiveCurrent !== 'HEAD'">
				Prepare current version for download
			</span>
		</button>

		<hr>

		<h3 class="sub-header">
			Tagged versions <span class="badge">{{countTags()}}</span>
		</h3>

		<p *ngIf="countTags() === 0">
			<em>No tagged versions so far. You can search a version and tag it below (in the all
				versions section).</em>
		</p>

		<div class="table-responsive">
			<table class="table table-striped">
				<thead>
				<tr>
					<th>Tag</th>
					<th>Actions</th>
				</tr>
				</thead>

				<tbody>
				<tr *ngFor="let tag of tagList">
					<td>{{tag}}</td>
					<td>
						<button class="btn btn-primary btn-xs" (click)="createArchive(tag)"
						        [disabled]="createArchiveCurrent">
							<span *ngIf="createArchiveCurrent === tag">Preparing</span>
							<span *ngIf="createArchiveCurrent !== tag">
								Prepare for download
							</span>
						</button>
					</td>
				</tr>
				</tbody>
			</table>
		</div>

		<h3 class="sub-header">
			All versions <span class="badge">{{countCommits()}}</span>
		</h3>

		<ul>
			<li *ngFor="let month of commitList">
				<a (click)="month.open = !month.open">
					<span [ngClass]="{
						'glyphicon': true,
						'glyphicon-collapse-down': !month.open,
						'glyphicon-collapse-up': month.open
					}"></span>

					{{month.month}}
				</a>

				<ul *ngIf="month.open">
					<li *ngFor="let day of month.days">
						<a (click)="day.open = !day.open">
							<span [ngClass]="{
								'glyphicon': true,
								'glyphicon-collapse-down': !day.open,
								'glyphicon-collapse-up': day.open
							}"></span>

							{{day.day}}
						</a>

						<div class="table-responsive" *ngIf="day.open">
							<table class="table table-striped">
								<thead>
								<tr>
									<th>Time</th>
									<th>Commit ID (hover for full ID)</th>
									<th>Commit description (hover for full description)</th>
									<th>Actions</th>
								</tr>
								</thead>

								<tbody>
								<tr *ngFor="let commit of day.commits">
									<td>{{commit.dateTime}}</td>
									<td [title]="commit.commitID">
										{{commit.commitID?.substr(0, 7)}}
									</td>
									<td [title]="commit.message">
										{{transformCommitMessage(commit.message)}}
									</td>
									<td>
										<button class="btn btn-primary btn-xs"
										        [disabled]="createArchiveCurrent"
										        (click)="createArchive(commit.commitID.substr(0, 7))">
											<span *ngIf="createArchiveCurrent === commit.commitID">Preparing</span>
											<span *ngIf="createArchiveCurrent !== commit.commitID">
												Prepare for download
											</span>
										</button>

										<button class="btn btn-primary btn-xs"
										        (click)="editTag(commit)"
										        [ngClass]="{active: commit.editingTag}">
											Add tag
										</button>

										<form *ngIf="commit.editingTag" class="form-inline"
										      (ngSubmit)="saveTag(commit)">
											<input class="form-control" placeholder="Tag label"
											       [(ngModel)]="commit.tagLabel" name="tagLabel">
											<button type="submit" class="btn btn-xs btn-primary"
											        [ngClass]="{disabled: commit.tagLabel===''}">
												Save tag
											</button>
										</form>

										<p *ngIf="commit.saveTagError" class="alert alert-danger">
											<button type="button" class="close" aria-label="Close"
											        (click)="commit.saveTagError = ''">
												<span aria-hidden="true">&times;</span>
											</button>

											{{commit.saveTagError}}
										</p>

										<p *ngIf="commit.saveTagSuccess"
										   class="alert alert-success">
											<button type="button" class="close" aria-label="Close"
											        (click)="commit.saveTagSuccess = ''">
												<span aria-hidden="true">&times;</span>
											</button>

											{{commit.saveTagSuccess}}
										</p>
									</td>
								</tr>
								</tbody>
							</table>
						</div>
					</li>
				</ul>
			</li>
		</ul>
	</div>

	<div *ngIf="state === 'Config'" class="panel-body">
		<p>
			Emu databases are configured by means of the _DBconfig.json file.
		</p>

		<p>
			The emuDB Manager is only meant to manage a small portion of the numerous possible
			configuration options. All other options must be configured via emuR.
		</p>

		<hr>

		<div class="checkbox">
			<label>
				<input type="checkbox" [(ngModel)]="configComments">
				In EMU-webApp, show “bundle comment” fields
			</label>
		</div>

		<div class="checkbox">
			<label>
				<input type="checkbox" [(ngModel)]="configFinishedEditing">
				In EMU-webApp, show “finished editing” checkboxes
			</label>
		</div>

		<p *ngIf="saveConfigSuccess" class="alert alert-success">
			<button type="button" class="close" aria-label="Close" (click)="saveConfigSuccess = ''">
				<span aria-hidden="true">&times;</span>
			</button>

			{{saveConfigSuccess}}
		</p>

		<p *ngIf="saveConfigError" class="alert alert-danger">
			<button type="button" class="close" aria-label="Close" (click)="saveConfigError = ''">
				<span aria-hidden="true">&times;</span>
			</button>

			{{saveConfigError}}
		</p>


		<p>
			<button class="btn btn-default" (click)="saveConfiguration()">Save</button>
		</p>

		<p class="alert alert-warning" *ngIf="hasUnsavedChanges()">
			You have unsaved changes.
		</p>
	</div>

	<div *ngIf="state === 'Rename'" class="panel-body">
		<form (ngSubmit)="renameDatabase()">
			<p>
				Current name of the database: {{database?.name}}
			</p>

			<p>
				<input class="form-control" placeholder="New name" [(ngModel)]="newName"
				       name="newName" autocomplete="off">
			</p>

			<p *ngIf="renameSuccess" class="alert alert-success">
				<button type="button" class="close" aria-label="Close" (click)="renameSuccess = ''">
					<span aria-hidden="true">&times;</span>
				</button>

				{{renameSuccess}}
			</p>

			<p *ngIf="renameError" class="alert alert-danger">
				<button type="button" class="close" aria-label="Close" (click)="renameError = ''">
					<span aria-hidden="true">&times;</span>
				</button>

				{{renameError}}
			</p>

			<p>
				<button type="submit" class="btn btn-default">Rename</button>
			</p>
		</form>
	</div>

</div>
