<h2 class="sub-header">Uploads <span class="badge">2</span></h2>
<div class="table-responsive">
  <table class="table table-striped">
    <thead>
    <tr>
      <th>Upload date</th>
      <th>Sessions</th>
      <th>Bundles</th>
      <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <td>2016-05-12 09:42</td>
      <td>2</td>
      <td>62</td>
      <td class="clearfix">
        <div class="dropdown pull-left">
          <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
            Add to database
            <span class="caret"></span>
          </button>
          <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
            <li><a href="#">corpus1</a></li>
            <li><a href="#">corpus2</a></li>
            <li><a href="#">blah-DB1</a></li>
          </ul>

        </div>
        <button class="btn btn-danger">Delete</button>
      </td>
    </tr>
    <tr>
      <td>2016-06-16 10:38</td>
      <td>5</td>
      <td>165</td>
      <td class="clearfix">
        <div class="dropdown pull-left">
          <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
            Add to database
            <span class="caret"></span>
          </button>
          <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
            <li><a href="#">corpus1</a></li>
            <li><a href="#">corpus2</a></li>
            <li><a href="#">blah-DB1</a></li>
          </ul>

        </div>
        <button class="btn btn-danger">Delete</button>
      </td>
    </tr>
    </tbody>
  </table>
</div>
