<h2 class="sub-header">Databases <span class="badge">3</span></h2>
<div class="table-responsive">
  <table class="table table-striped">
    <thead>
    <tr>
      <th>Name</th>
      <th>Sessions</th>
      <th>Bundles</th>
      <th>Editors</th>
      <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <td>corpus1</td>
      <td>120</td>
      <td>820</td>
      <td>
        <ul><li>kleber</li>
          <li>leah.meyer</li></ul>
      </td>
      <td>
        <button class="btn btn-default">Download</button>
        <button class="btn btn-info">EMU-webApp</button>
      </td>
    </tr>
    <tr>
      <td>corpus2</td>
      <td>20</td>
      <td>60</td>
      <td>
        <ul>
          <li>sepp.wurzel</li>
        </ul>
      </td>
      <td>
        <button class="btn btn-default">Download</button>
        <button class="btn btn-info">EMU-webApp</button>
      </td>
    </tr>
    <tr>
      <td>blahDB-1</td>
      <td>50</td>
      <td>505</td>
      <td>
        <ul>
          <li>sylvia.moosmueller</li>
          <li>sepp.wurzel</li>
        </ul>
      </td>
      <td>
        <button class="btn btn-default">Download</button>
        <button class="btn btn-info">EMU-webApp</button>
      </td>
    </tr>
    </tbody>
  </table>
</div>
