<h2 class="sub-header">Databases <span class="badge">{{databases.length}}</span></h2>
<div class="table-responsive">
  <table class="table table-striped">
    <thead>
    <tr>
      <th>Name</th>
      <th>Sessions</th>
      <th>Bundles</th>
      <th>Editors</th>
      <th>Actions</th>
    </tr>
    </thead>
    <tbody>

    <tr *ngFor="let database of databases">
      <td>{{database.name}}</td>
      <td>{{database.sessions.length}}</td>
      <td>{{countBundles(database)}}</td>
      <td>
        <ul>
          <li *ngFor="let bundleList of database.bundleLists">{{bundleList.name}}</li>
        </ul>
      </td>
      <td>
        <button class="btn btn-default">Download</button>
        <button class="btn btn-info">EMU-webApp</button>
      </td>
    </tr>
    </tbody>
  </table>
</div>
