<div class="head-container">
	<nav class="navbar navbar-inverse navbar-fixed-top">
		<div class="container-fluid">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
				        data-target=".navbar-collapse" aria-expanded="false" aria-controls="navbar">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>

				<span class="navbar-brand navbar-brand-image">
					<img src="assets/emu-icon-32.png">
				</span>
				<span class="navbar-brand">emuDB Manager</span>
			</div>
			<div id="" class="navbar-collapse collapse">

			</div>
		</div>

		<div class="progress" [@progressBarContainer]="progressBarState | async">
			<div class="progress-bar progress-bar-striped" role="progressbar"
			     [@progressBar]="progressBarState | async"
			>
				Communicating with server
			</div>
		</div>

		<div class="alert alert-danger" *ngIf="connectionError || dataErrors.length > 0">
			<button type="button" class="close" aria-label="Close"
			        (click)="clearErrors()">
				<span aria-hidden="true">&times;</span>
			</button>

			<p *ngIf="connectionError">
				<b>Server connection problem.</b> Check your internet connection.
			</p>

			<div *ngIf="dataErrors.length > 0">
				<b>Errors in project data:</b>
				<ul>
					<li *ngFor="let dataError of dataErrors">
						{{dataError}}
					</li>
				</ul>
			</div>
		</div>
	</nav>

	<div *ngIf="authenticationError" class="emudbmanager-modal">
		<div>
			<b>Authentication error</b>

			You have either typed wrong credentials or your session has expired. Please go
			back to the log in page and try again.
		</div>
	</div>

	<router-outlet></router-outlet>
</div>
