<div class="head-container">
  <nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                data-target="#navbar" aria-expanded="false" aria-controls="navbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <span class="navbar-brand navbar-brand-image"><img src="assets/emu-icon-32.png"></span>
        <span class="navbar-brand">emuDB Manager</span>
      </div>
      <div id="navbar" class="navbar-collapse collapse">
        <ul class="nav navbar-nav navbar-right">
          <li><a href="#">Help</a></li>
          <li><a href="#">Logout</a></li>
        </ul>
      </div>
    </div>
  </nav>

  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-3 col-md-2 sidebar">
        <ul class="nav nav-sidebar">
          <li routerLinkActive="active"><a routerLink="/overview">Project overview</a></li>
        </ul>
        <ul class="nav nav-sidebar">
          <li routerLinkActive="active"><a routerLink="/databases">Databases <span
            class="badge pull-right">{{databases.length}}</span></a></li>
          <li routerLinkActive="active"><a routerLink="/bundle-lists">Bundle lists <span
            class="badge pull-right">{{bundleLists.length}}</span></a></li>
          <li routerLinkActive="active"><a routerLink="/uploads">Uploads
            <span class="badge pull-right">2</span></a></li>
        </ul>
        <ul class="nav nav-sidebar">
          <li routerLinkActive="active"><a routerLink="/progress">Progress</a></li>
        </ul>
      </div>

      <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
</div>
