/*
 * Base structure
 */

/* Move down content because we have a fixed navbar that is 50px tall */
.head-container {
  padding-top: 50px;
}


/*
 * Global add-ons
 */

.sub-header {
  padding-bottom: 10px;
  border-bottom: 1px solid #eee;
}

/*
 * Top navigation
 * Hide default border to remove 1px line.
 */
.navbar-fixed-top {
  border: 0;
}

.navbar-brand-image {
  padding: 9px 15px; /* 9px is to (vertically) center a 32x32px image in a 50px bar
}
