<h1 class="page-header">Bundle lists</h1>

<div class="panel panel-default">

	<ul class="panel-body nav nav-pills nav-justified">
		<li role="presentation" [ngClass]="{active: state === 'Overview'}">
			<a (click)="state = 'Overview'">
				Existing bundle lists <span class="badge">{{bundleLists?.length}}</span>
			</a>
		</li>
		<li role="presentation" [ngClass]="{active: state === 'Generator'}">
			<a (click)="state = 'Generator'">
				Generate bundle list
			</a>
		</li>
	</ul>

	<emudbmanager-bundle-lists-overview *ngIf="state === 'Overview'" database="">

	</emudbmanager-bundle-lists-overview>

	<div *ngIf="state === 'Generator'" class="panel-body">
		<form class="container-fluid">
			<div class="row">
				<p class="col-md-4">
					Select the database for which to generate a bundle list:
				</p>

				<div class="col-md-8">
					<p>
						<select class="form-control" [(ngModel)]="selectedDatabase"
						        [ngModelOptions]="{standalone: true}">
							<option *ngFor="let database of databases" [ngValue]="database">
								{{database.name}}
							</option>
						</select>
					</p>

					<p class="alert alert-warning" *ngIf="selectedDatabase && !checkDBConfig()">
						The selected database {{selectedDatabase?.name}} is not configured to
						allow bundle comments and “finished editing” checkboxes. Please review
						the database configuration.
					</p>
				</div>
			</div>

			<hr>

			<div class="row">
				<p class="col-md-4">
					What bundles from what sessions shall be included?
				</p>

				<p class="col-md-2">
					Bundle pattern:
				</p>

				<p class="col-md-6">
					<input [ngModelOptions]="{standalone: true}" [(ngModel)]="bundlePattern"
					       class="form-control">
				</p>
			</div>

			<div class="row">
				<p class="col-md-4">
				</p>

				<p class="col-md-2">
					Session pattern:
				</p>

				<p class="col-md-6">
					<input [ngModelOptions]="{standalone: true}" [(ngModel)]="sessionPattern"
					       class="form-control">
				</p>
			</div>

			<hr>

			<div class="row">
				<p class="col-md-4">
					Who are the editors? (one name per line)
				</p>

				<div class="col-md-8">
					<p *ngFor="let editor of editors let i=index">
						<input [(ngModel)]="editor.name" class="form-control"
						       [ngModelOptions]="{standalone: true}" (change)="checkEditor(i)">
					</p>
					<p>
						<input [ngModelOptions]="{standalone: true}" [(ngModel)]="newEditor"
						       (change)="addEditor()" class="form-control">
					</p>
				</div>
			</div>

			<hr>

			<div class="row">
				<p class="col-md-4">
					In case you have multiple editors:
				</p>

				<div class="col-md-4">

					<p>How many persons shall be assigned to each bundle?</p>

					<p>
						<input [ngModelOptions]="{standalone: true}" [(ngModel)]="personsPerBundle"
						       type="number" class="form-control" min="1" [max]="editors.length">
					</p>


				</div>

				<div class="col-md-4">
					<p>
						Shall the bundles be shuffled before distributing them among the editors?
					</p>

					<p>
						<label>
							<input type="checkbox" [(ngModel)]="shuffle"
							       [ngModelOptions]="{standalone: true}" disabled>
							Shuffle (NOT YET IMPLEMENTED)
						</label>
					</p>
				</div>
			</div>


			<hr>

			<div class="row">
				<div class="col-md-12">
					<p>
						<button type="button" class="btn btn-default"
						        (click)="generateLists()">
							Generate
						</button>
					</p>

					<p *ngIf="generatorSuccess" class="alert alert-success">
						<button type="button" class="close" aria-label="Close"
						        (click)="generatorSuccess = ''">
							<span aria-hidden="true">&times;</span>
						</button>

						{{generatorSuccess}}
					</p>

					<p *ngIf="generatorError" class="alert alert-danger">
						<button type="button" class="close" aria-label="Close"
						        (click)="generatorError = ''">
							<span aria-hidden="true">&times;</span>
						</button>

						{{generatorError}}
					</p>
				</div>
			</div>
		</form>
	</div>
</div>
