<h1 class="page-header">Bundle lists</h1>

<div class="panel panel-default">

	<ul class="panel-body nav nav-pills nav-justified">
		<li role="presentation" [ngClass]="{active: state === 'Overview'}">
			<a (click)="state = 'Overview'">
				Existing bundle lists <span class="badge">{{bundleLists?.length}}</span>
			</a>
		</li>
		<li role="presentation" [ngClass]="{active: state === 'Generator'}">
			<a (click)="state = 'Generator'">
				Generate bundle list
			</a>
		</li>
	</ul>

	<emudbmanager-bundle-lists-overview *ngIf="state === 'Overview'" database="">

	</emudbmanager-bundle-lists-overview>

	<div *ngIf="state === 'Generator'" class="panel-body">

	</div>
</div>
