:host {
  text-align: center;
}

.panel {
  margin-left: 20px;
  margin-right: 20px;
}

@media (min-width: 768px) {
  .panel {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
  }
}

.panel-primary .panel-body {
  text-align: left;
}
