<div class="table-responsive">
	<table class="table table-striped">
		<thead>
		<tr>
			<th>Name</th>
			<th>Sessions</th>
			<th>Bundles</th>
			<th>Bundle lists</th>
			<th>Actions</th>
		</tr>
		</thead>
		<tbody>

		<tr *ngFor="let database of databases">
			<td>{{database.name}}</td>
			<td>{{database.sessions.length}}</td>
			<td>{{projectDataService.countBundles(database.sessions)}}</td>
			<td>
				<ul>
					<li *ngFor="let bundleList of database.bundleLists">
						{{bundleList.name}}
						<span *ngIf="bundleList.archiveLabel">({{bundleList.archiveLabel}})</span>
					</li>
				</ul>
			</td>
			<td>
				<button [routerLink]="['/project/databases', database.name]"
				        class="btn btn-default">
				        View &amp; edit
				</button>
			</td>
		</tr>
		</tbody>
	</table>
</div>
