<thead>
<tr>
	<th *ngFor="let column of columns" (click)="sort(column)">
		{{column.heading}}

		<template [ngIf]="sortColumn === column">
			<span *ngIf="!reverseSort" class="glyphicon glyphicon-triangle-top"></span>
			<span *ngIf="reverseSort" class="glyphicon glyphicon-triangle-bottom"></span>
		</template>
	</th>
</tr>
<tr>
	<td *ngFor="let column of columns">
		<template [ngIf]="column.type === 'string'">
			<input class="form-control" placeholder="Filter" [(ngModel)]="column.filter">
		</template>

		<template [ngIf]="column.type === 'boolean'">
			<button class="btn btn-default" (click)="column.filter = undefined"
			        [ngClass]="{active: !isBoolean(column.filter)}">
				all
			</button>

			<button class="btn btn-default" (click)="column.filter = true"
			        [ngClass]="{active: column.filter === true}">
				<span class="glyphicon glyphicon-ok"></span>
			</button>

			<button class="btn btn-default" (click)="column.filter = false"
			        [ngClass]="{active: column.filter === false}">
				<span class="glyphicon glyphicon-remove"></span>
			</button>
		</template>
	</td>
</tr>
<tr>
	<th [attr.colspan]="columns.length">
		Viewing {{visibleCount}} of {{data.length}} items
		({{percentage()}} %)
		<span class="pull-right">Click headings to sort</span>
	</th>
</tr>
</thead>

<tbody>
<tr *ngFor="let item of getVisibleData()">
	<td *ngFor="let column of columns">
		<template [ngIf]="column.type === 'string'">
			{{item[column.name]}}
		</template>

		<template [ngIf]="column.type === 'boolean'">
			<span *ngIf="item[column.name]" class="glyphicon glyphicon-ok"></span>
			<span *ngIf="!item[column.name]" class="glyphicon glyphicon-remove"></span>
		</template>
	</td>
</tr>
</tbody>